09_PDF文字起こし（AIなし）/PDF_文字起こし_AIなし.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: workflow
  name: PDF_文字起こし_AIなし
  use_icon_as_answer_icon: false
dependencies: []
kind: app
version: 0.3.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        sourceType: start
        targetType: document-extractor
      id: 1732585407992-source-1732586862378-target
      selected: false
      source: '1732585407992'
      sourceHandle: source
      target: '1732586862378'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: document-extractor
        targetType: end
      id: 1732586862378-source-1732585522299-target
      source: '1732586862378'
      sourceHandle: source
      target: '1732585522299'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: 開始
        type: start
        variables:
        - allowed_file_extensions: []
          allowed_file_types:
          - document
          allowed_file_upload_methods:
          - local_file
          - remote_url
          label: files
          max_length: 10
          options: []
          required: true
          type: file-list
          variable: files
      height: 90
      id: '1732585407992'
      position:
        x: 244.28314250084867
        y: -84.22123495221524
      positionAbsolute:
        x: 244.28314250084867
        y: -84.22123495221524
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1732586862378'
          - text
          variable: text
        selected: false
        title: 終了
        type: end
      height: 90
      id: '1732585522299'
      position:
        x: 723.454498938348
        y: 43.45361039534197
      positionAbsolute:
        x: 723.454498938348
        y: 43.45361039534197
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        is_array_file: false
        selected: false
        title: テキスト抽出ツール
        type: document-extractor
        variable_selector:
        - '1732585407992'
        - files
      height: 92
      id: '1732586862378'
      position:
        x: 431.4014284094766
        y: 43.45361039534197
      positionAbsolute:
        x: 431.4014284094766
        y: 43.45361039534197
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: -192.3276736601806
      y: 319.798037193688
      zoom: 0.7597424515059801
