07_複数LLM比較/複数LLMチャットボット.yml
app:
  description: LLMモデルを切り替えて対話することができます。
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: advanced-chat
  name: 複数LLMチャットボット
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/openai:0.0.11@390c87cc0f17370a70d3b214cd71a8de81fe9d6b52e6a38287acde034138b672
kind: app
version: 0.1.5
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        sourceType: start
        targetType: if-else
      id: 1741730519527-source-1741730526311-target
      selected: false
      source: '1741730519527'
      sourceHandle: source
      target: '1741730526311'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1741730526311-true-1741730560017-target
      source: '1741730526311'
      sourceHandle: 'true'
      target: '1741730560017'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1741730526311-false-1741730556658-target
      source: '1741730526311'
      sourceHandle: 'false'
      target: '1741730556658'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: variable-aggregator
      id: 1741730560017-source-1741775396971-target
      source: '1741730560017'
      sourceHandle: source
      target: '1741775396971'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: variable-aggregator
        targetType: answer
      id: 1741775396971-source-1741731301836-target
      source: '1741775396971'
      sourceHandle: source
      target: '1741731301836'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: variable-aggregator
      id: 1741730556658-source-1741775396971-target
      source: '1741730556658'
      sourceHandle: source
      target: '1741775396971'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: 開始
        type: start
        variables:
        - label: モデル
          max_length: 48
          options:
          - gpt-4o
          - gpt-4o-mini
          required: true
          type: select
          variable: model
      height: 90
      id: '1741730519527'
      position:
        x: 30
        y: 265
      positionAbsolute:
        x: 30
        y: 265
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: is
            id: 30fa64c4-c019-42e6-bef7-47e09e11806c
            value: gpt-4o-mini
            varType: string
            variable_selector:
            - '1741730519527'
            - model
          id: 'true'
          logical_operator: and
        desc: ''
        selected: false
        title: IF/ELSE
        type: if-else
      height: 126
      id: '1741730526311'
      position:
        x: 334
        y: 265
      positionAbsolute:
        x: 334
        y: 265
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        memory:
          query_prompt_template: '{{#sys.query#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 50
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-4o
          provider: langgenius/openai/openai
        prompt_template:
        - id: cdb2445a-66a6-44e5-8231-5759bb8be0bd
          role: system
          text: ''
        selected: false
        title: gpt-4o
        type: llm
        variables: []
        vision:
          enabled: false
      height: 90
      id: '1741730556658'
      position:
        x: 638
        y: 395
      positionAbsolute:
        x: 638
        y: 395
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        memory:
          query_prompt_template: '{{#sys.query#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 50
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-4o-mini
          provider: langgenius/openai/openai
        prompt_template:
        - id: c99db4eb-0421-4bd3-b496-cd8d17ad185c
          role: system
          text: ''
        selected: false
        title: gpt-4o-mini
        type: llm
        variables: []
        vision:
          enabled: false
      height: 90
      id: '1741730560017'
      position:
        x: 638
        y: 265
      positionAbsolute:
        x: 638
        y: 265
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: '以下は{{#1741730519527.model#}}の回答です。


          {{#1741775396971.output#}}'
        desc: ''
        selected: false
        title: gpt-4o-miniの回答
        type: answer
        variables: []
      height: 124
      id: '1741731301836'
      position:
        x: 1246
        y: 265
      positionAbsolute:
        x: 1246
        y: 265
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        output_type: string
        selected: false
        title: 変数集約器
        type: variable-aggregator
        variables:
        - - '1741730556658'
          - text
        - - '1741730560017'
          - text
      height: 130
      id: '1741775396971'
      position:
        x: 942
        y: 265
      positionAbsolute:
        x: 942
        y: 265
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: 129.17699642185926
      y: 163.49590870202735
      zoom: 1.5577101688187671
